<div class="container">

  <div class="row">

    <!--div class="col-xs-12">
      {{lastUpdate | async | date : 'yMMMMEEEEd' | uppercase}}
      <ul  class="list-group">
        <app-test-comp *ngFor="let element of elements" [name] = "element.name" [etat]="element.etat" ></app-test-comp>
      </ul>
      <button type="button" class="btn btn-success" [disabled]="!isAuth" (click) = "allumer()" >
        Press Me Hard
      </button>
    </div-->

    <app-post-component [posts] = "allPosts"></app-post-component>

  </div>

</div>